body {
   background-color: green;
   background-image: url("../themes/test.theme/images/test.png");
   background-image: url("http://example.com");
};
@charset "UTF-8";

.test-widget {
   background-color: magenta;
}